body {
  margin: 0;
  padding: 0;
}

// Menu

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  background: #eee;
  box-shadow: 0 0 3px #aaa;
}

.menu {
  margin-left: 340px;
}

// Outline

.outline-container {
  position: fixed;
  top: 30px;
  bottom: 0;
  left: 0;
  border-right: 1px solid #eee;
}

.outline__title {
  border-bottom: 1px solid #eee;
}

// Editor

.editor-container {
  position: fixed;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 340px;
  overflow: auto;
  display: flex;
}

.ed-editor {
  width: 900px;
  margin: 10px;
  padding: 10px;
  font-family: sans-sans-serif;

  [contenteditable] {
    outline: none;
  }

  .ed-placeholder {
    top: 20px; // 10 (editor padding) + 10 (p margin)
    left: 10px; // 10 (editor padding)
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #aaa;
  }

  h1 {
    margin: 20px 0;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: bold;
  }

  h2 {
    margin: 20px 0;
    font-family: sans-serif;
    font-size: 19px;
    font-weight: bold;
  }

  p {
    margin: 10px 0;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
  }

  blockquote {
    margin: 10px 30px;
    font-family: sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 20px;
  }

  pre {
    margin: 10px 0;
    padding: 10px 20px;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
    background: #eee;
    border-radius: 3px;
  }

  ul {
    margin: 10px 0;
  }

  ol {
    margin: 10px 0;
  }

  li {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: lighter;
    line-height: 20px;
  }

  figcaption {
    font-family: sans-serif;
    font-size: 14px;
  }

  b {
    font-weight: bold;
  }

  .checkable {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: lighter;
    line-height: 20px;
  }

  .checked {
    color: #aaa;
  }
}

.ed-editor--focused {
  .ed-placeholder {
    color: #eee;
  }
}
