#app {
  display: flex;
  justify-content: center;
}

.editor {
  width: 700px;
  margin: 10px;
  border: 1px solid #aaa;
  box-shadow: 0 1px 3px #aaa;
}

.menu {
  display: flex;
  padding: 5px;
  border-bottom: 1px solid #aaa;
}

.button {
  margin: 0;
  background: white;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  color: #888;
  cursor: pointer;
}

.button:hover {
  color: black;
}

.button:disabled {
  color: #eee;
}

.button--active {
  color: blue;
}

.color-menu {
  position: relative;
}

.color-menu__body {
  z-index: 2;
  position: absolute;
  top: 30px;
  left: -40.5px; /* (107-26)/2 */
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  padding: 5px 0 0 5px;
  background: white;
  border: 1px solid #aaa;
  box-shadow: 0 1px 3px #aaa;
}

.color-button {
  width: 15px;
  height: 15px;
  margin: 0 5px 5px 0;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.color-button:hover {
  border: 1px solid black;
}

.separator {
  width: 0;
  border-right: 1px solid #aaa;
  margin: 0 3px;
}

.ed-editor {
  padding: 10px 30px;
}

.ed-editor * {
  outline: none;
}

.ed-document blockquote {
  margin: 0;
  padding-left: 10px;
  border-left: 3px solid cyan;
}

.ed-document pre {
  line-height: 20px;
  padding: 10px 20px;
  background: #eee;
  border: 1px solid #aaa;
}

.checkable {
  margin-left: 27px;
}

.checkable.ed-indent-1 {
  margin-left: 47px;
}

.checkable.ed-indent-2 {
  margin-left: 67px;
}

.checkable.ed-indent-3 {
  margin-left: 87px;
}

.checkable.ed-indent-4 {
  margin-left: 107px;
}

.checkable.ed-indent-5 {
  margin-left: 127px;
}

.checkable input[type="checkbox"] {
  margin-right: 6px;
}

.checked {
  text-decoration: line-through;
  color: gray;
}
