body {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
  background: white;
}

.content {
  z-index: 1;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.menu {
  display: flex;
  align-items: center;
  width: 1000px;
}

.button {
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  text-align: center;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  color: #888;
  cursor: pointer;
  transition: color 100ms;
}

.button:hover {
  color: black;
}

.button:disabled {
  color: #eee;
}

.button--active {
  color: blue;
}

.color-menu {
  position: relative;
}

.color-menu__body {
  z-index: 2;
  position: absolute;
  top: 60px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  padding: 5px 0 0 5px;
  background: white;
  border: 1px solid #ccc;
}

.color-button {
  width: 20px;
  height: 20px;
  margin: 0 5px 5px 0;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border 100ms;
}

.color-button:hover {
  border: 1px solid black;
}

.separator {
  width: 0;
  height: 25px;
  border-right: 1px solid #ccc;
  margin: 0 3px;
}

.ed-editor {
  width: 1000px;
  margin: 10px;
  padding: 10px 30px;
  font-family: sans-serif;
}

.ed-editor [contenteditable] {
  outline: none;
}

.ed-editor h1,
.ed-editor h2,
.ed-editor p,
.ed-editor blockquote,
.ed-editor pre,
.ed-editor ul,
.ed-editor ol {
  margin: 50px 0;
}

.ed-editor li,
.ed-editor .checkable {
  margin: 15px 0;
}

.ed-editor h1,
.ed-editor h2 {
  font-weight: normal;
}

.ed-editor h1 {
  font-size: 48px;
}

.ed-editor h2 {
  font-size: 36px;
}

.ed-editor p,
.ed-editor blockquote,
.ed-editor pre,
.ed-editor li,
.ed-editor .checkable {
  font-size: 19px;
  font-weight: lighter;
  line-height: 30px;
}

.ed-editor blockquote {
  margin: 30px 100px;
  font-style: italic;
}

.ed-editor pre {
  font-weight: lighter;
  padding: 30px 40px;
  background: #eee;
  border-radius: 3px;
}

.ed-editor .checkable {
  margin-left: 27px;
}

.ed-editor .checkable.ed-indent-1 {
  margin-left: 57px;
}

.ed-editor .checkable.ed-indent-2 {
  margin-left: 87px;
}

.ed-editor .checkable.ed-indent-3 {
  margin-left: 117px;
}

.ed-editor .checkable.ed-indent-4 {
  margin-left: 147px;
}

.ed-editor .checkable.ed-indent-5 {
  margin-left: 177px;
}

.ed-editor .checkbox {
  display: inline;
  margin-right: 10px;
  color: #555;
  cursor: pointer;
}

.ed-editor .checked .ed-text {
  color: #aaa;
}
