#app {
  display: flex;
  justify-content: center;
}

.ed-editor {
  width: 700px;
  margin: 10px;
  padding: 10px 30px;
  box-shadow: 0 1px 3px #aaa;
}

.ed-editable {
  outline: none;
}

.ed-text {
  white-space: pre-wrap;
  word-wrap: break-word;
}
