/* EDITOR */

.ed-editor {
  position: relative;
}

.ed-placeholder {
  position: absolute;
  top: 0;
  left: 0;
}

/* ERROR BOUNDARY */

.ed-error {
  font-size: 24px;
  padding: 10px;
  color: red;
}

/* DOCUMENT */

.ed-document {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* UNORDERED LISTS */

.ed-document ul {
  padding: 0;
}

.ed-document ul > li {
  list-style-type: none;
}

.ed-document ul > li {
  margin-left: 45px;
}

.ed-document ul > li.ed-indent-1 {
  margin-left: 75px;
}

.ed-document ul > li.ed-indent-2 {
  margin-left: 105px;
}

.ed-document ul > li.ed-indent-3 {
  margin-left: 135px;
}

.ed-document ul > li.ed-indent-4 {
  margin-left: 165px;
}

.ed-document ul > li.ed-indent-5 {
  margin-left: 195px;
}

.ed-document ul > li:before {
  display: inline-block;
  min-width: 40px;
  margin-right: 5px;
  margin-left: -45px;
  text-align: right;
}

.ed-document ul > li:before {
  content: "\25CF";
}

.ed-document ul > li.ed-indent-1:before {
  content: "\25CB";
}

.ed-document ul > li.ed-indent-2:before {
  content: "\25A0";
}

.ed-document ul > li.ed-indent-3:before {
  content: "\25C6";
}

.ed-document ul > li.ed-indent-4:before {
  content: "\25C6";
}

.ed-document ul > li.ed-indent-5:before {
  content: "\25C6";
}

/* ORDERED LISTS */

.ed-document ol {
  padding: 0;
}

.ed-document ol > li {
  list-style-type: none;
}

.ed-document ol > li {
  margin-left: 45px;
  counter-reset: li-1 li-2 li-3 li-4 li-5;
  counter-increment: li-0;
}

.ed-document ol > li.ed-indent-1 {
  margin-left: 75px;
  counter-reset: li-2 li-3 li-4 li-5;
  counter-increment: li-1;
}

.ed-document ol > li.ed-indent-2 {
  margin-left: 105px;
  counter-reset: li-3 li-4 li-5;
  counter-increment: li-2;
}

.ed-document ol > li.ed-indent-3 {
  margin-left: 135px;
  counter-reset: li-4 li-5;
  counter-increment: li-3;
}

.ed-document ol > li.ed-indent-4 {
  margin-left: 165px;
  counter-reset: li-5;
  counter-increment: li-4;
}

.ed-document ol > li.ed-indent-5 {
  margin-left: 195px;
  counter-increment: li-5;
}

.ed-document ol > li:before {
  display: inline-block;
  min-width: 40px;
  margin-right: 5px;
  margin-left: -45px;
  text-align: right;
}

.ed-document ol > li:before {
  content: counter(li-0) ".";
}

.ed-document ol > li.ed-indent-1:before {
  content: counter(li-1) ".";
}

.ed-document ol > li.ed-indent-2:before {
  content: counter(li-2) ".";
}

.ed-document ol > li.ed-indent-3:before {
  content: counter(li-3) ".";
}

.ed-document ol > li.ed-indent-4:before {
  content: counter(li-4) ".";
}

.ed-document ol > li.ed-indent-5:before {
  content: counter(li-5) ".";
}

/* ALIGN */

.ed-document .ed-align-left {
  text-align: left;
}

.ed-document .ed-align-right {
  text-align: right;
}

.ed-document .ed-align-center {
  text-align: center;
}

.ed-document .ed-align-justify {
  text-align: justify;
}

/* COLORS */

.ed-color-silver {
  color: silver;
}

.ed-color-gray {
  color: gray;
}

.ed-color-maroon {
  color: maroon;
}

.ed-color-red {
  color: red;
}

.ed-color-purple {
  color: purple;
}

.ed-color-fuchsia {
  color: fuchsia;
}

.ed-color-green {
  color: green;
}

.ed-color-lime {
  color: lime;
}

.ed-color-olive {
  color: olive;
}

.ed-color-yellow {
  color: yellow;
}

.ed-color-navy {
  color: navy;
}

.ed-color-blue {
  color: blue;
}

.ed-color-teal {
  color: teal;
}

.ed-color-aqua {
  color: aqua;
}

/* EMBEDS */

.ed-document .ed-embed {
  max-width: 100%;
}

.ed-document img {
  max-width: 100%;
}
