.SquaDocJs-editor {
  width: 900px;
  margin: 10px;
  padding: 10px;
  font-family: sans-sans-serif;

  .SquaDocJs-placeholder {
    top: 20px; // 10 (editor padding) + 10 (p margin)
    left: 10px; // 10 (editor padding)
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #aaa;
  }

  // Typography

  h1 {
    margin: 20px 0;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: bold;
  }

  h2 {
    margin: 20px 0;
    font-family: sans-serif;
    font-size: 19px;
    font-weight: bold;
  }

  p {
    margin: 10px 0;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
  }

  blockquote {
    margin: 10px 30px;
    font-family: sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 20px;
  }

  pre {
    margin: 10px 0;
    padding: 10px 20px;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
    background: #eee;
    border-radius: 3px;
  }

  ul {
    margin: 10px 0;
  }

  ol {
    margin: 10px 0;
  }

  li {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
  }

  figcaption {
    font-family: sans-serif;
    font-size: 14px;
  }

  b {
    font-weight: bold;
  }

  .Checkable {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
  }

  // Numbering

  h1 {
    counter-increment: editor-h1;

    &:before {
      content: counter(editor-h1) ". ";
    }
  }

  h2 {
    counter-increment: editor-h2;

    &:before {
      content: counter(editor-h1) "." counter(editor-h2) ". ";
    }
  }

  h3 {
    counter-increment: editor-h3;

    &:before {
      content: counter(editor-h1) "." counter(editor-h2) "." counter(editor-h3)
        ". ";
    }
  }

  h4 {
    counter-increment: editor-h4;

    &:before {
      content: counter(editor-h1) "." counter(editor-h2) "." counter(editor-h3)
        "." counter(editor-h4) ". ";
    }
  }

  h5 {
    counter-increment: editor-h5;

    &:before {
      content: counter(editor-h1) "." counter(editor-h2) "." counter(editor-h3)
        "." counter(editor-h4) "." counter(editor-h5) ". ";
    }
  }

  h6 {
    counter-increment: editor-h6;

    &:before {
      content: counter(editor-h1) "." counter(editor-h2) "." counter(editor-h3)
        "." counter(editor-h4) "." counter(editor-h5) "." counter(editor-h6)
        ". ";
    }
  }
}

.SquaDocJs-editor--focused {
  .SquaDocJs-placeholder {
    color: #eee;
  }
}
