body {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
}

.App-outline {
    display: none;
    border-right: 1px solid #eee;
}

@media screen and (min-width: 900px) {
    .App-outline {
        display: block;
    }
}
