.Outline {
  width: 300px;
  font-family: sans-serif;
  font-weight: bold;

  a {
    display: block;
    width: 260px;
    padding: 15px 20px;
    color: black;
    font-size: 14px;
    text-decoration: none;
    transition: background 100ms;
  }

  a:hover {
    background: #eee;
  }

  // Numbering

  .Outline-heading-one {
    counter-increment: outline-h1;

    &:before {
      content: counter(outline-h1) ". ";
    }
  }

  .Outline-heading-two {
    counter-increment: outline-h2;

    &:before {
      content: counter(outline-h1) "." counter(outline-h2) ". ";
    }
  }

  .Outline-heading-three {
    counter-increment: outline-h3;

    &:before {
      content: counter(outline-h1) "." counter(outline-h2) "."
        counter(outline-h3) ". ";
    }
  }

  .Outline-heading-four {
    counter-increment: outline-h4;

    &:before {
      content: counter(outline-h1) "." counter(outline-h2) "."
        counter(outline-h3) "." counter(outline-h4) ". ";
    }
  }

  .Outline-heading-five {
    counter-increment: outline-h5;

    &:before {
      content: counter(outline-h1) "." counter(outline-h2) "."
        counter(outline-h3) "." counter(outline-h4) "." counter(outline-h5) ". ";
    }
  }

  .Outline-heading-six {
    counter-increment: outline-h6;

    &:before {
      content: counter(outline-h1) "." counter(outline-h2) "."
        counter(outline-h3) "." counter(outline-h4) "." counter(outline-h5) "."
        counter(outline-h6) ". ";
    }
  }
}
