.ColorMenu {
  position: relative;

  .ColorMenu-body {
    z-index: 3;
    position: absolute;
    top: 40px;
    left: -35px;
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    padding: 5px 0 0 5px;
    background: #eee;
    box-shadow: 0 0 3px #aaa;

    .Menu-button {
      width: 20px;
      height: 20px;
      margin: 0 5px 5px 0;
      padding: 0;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}
