.menu {
  display: flex;
  align-items: center;

  .button {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    border: none;
    outline: none;
    font-size: 10px;
    font-weight: bold;
    color: #888;
    background: #eee;
    cursor: pointer;
    transition: color 100ms;
  }

  .button:hover {
    color: black;
  }

  .button:disabled {
    color: #ddd;
  }

  .button--active {
    color: blue;
  }

  .separator {
    width: 0;
    height: 12px;
    border-right: 1px solid #ccc;
    margin: 0 3px;
  }
}
