.Menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.Menu-separator {
    width: 0;
    height: 12px;
    border-right: 1px solid #ccc;
    margin: 0 3px;
}

.Menu-button {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    border: none;
    outline: none;
    font-size: 10px;
    font-weight: bold;
    color: #888;
    background: white;
    cursor: pointer;
    transition: color 100ms;
}

.Menu-button:hover {
    color: black;
}

.Menu-button:disabled {
    color: #ddd;
}

.Menu-button-active {
    color: blue;
}
